{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            {{ result.id }}<br>
            {{ result.surname }}<br>
            {{ result.forname }}<br>
            {{ result.homephone }}<br>
            {{ result.cellphone }}<br>
            {{ result.department }}<br>
        </div>
    </div>
{% endblock %}

