{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <table data-toggle="table">
            <thead>
            <tr>
                <th>Surname</th>
                <th>Forname</th>
                <th>Home Phone</th>
                <th>CellPhone</th>
                <th>Department</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.surname }}</td>
                    <td>{{ result.forname }}</td>
                    <td>{{ result.homephone }}</td>
                    <td>{{ result.cellphone }}</td>
                    <td>{{ result.department }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



